In [71]:
import numpy as np
import pandas as pd
import zipfile
from sklearn.preprocessing import MaxAbsScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [72]:
le = preprocessing.LabelEncoder()
zf = zipfile.ZipFile('../data/raw_data/student_alchohol.zip')
drunk_students = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[1]))

In [73]:
drunk_students.head()

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [74]:
target = drunk_students['g3']
drunk_students_features = drunk_students.drop(['g3'], 1)
#print(drunk_students_features.dtypes)

In [75]:
for column_name in drunk_students_features.columns:
    if(drunk_students_features[column_name].dtype != np.float64 and drunk_students_features[column_name].dtype != np.int64):
        drunk_students_features[column_name] = drunk_students_features[column_name].astype('category')
        drunk_students_features[column_name] = drunk_students_features[column_name].cat.codes

In [76]:
drunk_students_train, drunk_students_test, target_train, target_test = train_test_split(drunk_students_features, target, test_size = .2, random_state=71)

In [77]:
max_abs_scaler = MaxAbsScaler()

drunk_students_train_scaled = max_abs_scaler.fit_transform(drunk_students_train)
drunk_students_test_scaled = max_abs_scaler.fit_transform(drunk_students_test)

drunk_students_train_scaled = pd.DataFrame(drunk_students_train_scaled, columns = drunk_students_train.columns)
drunk_students_test_scaled = pd.DataFrame(drunk_students_test_scaled, columns = drunk_students_test.columns)

In [78]:
compression_opts_train = dict(method='zip',
                        archive_name='drunk_students_train.csv')  
drunk_students_train_scaled.to_csv('../data/preprocessed_data/drunk_students_train.zip', index=False, compression=compression_opts_train)

compression_opts_test = dict(method='zip',
                        archive_name='drunk_students_test.csv')  
drunk_students_test_scaled.to_csv('../data/preprocessed_data/drunk_students_test.zip', index=False, compression=compression_opts_test)